.docs {
  font-size: 1rem;
}

.docs p {
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

.docs h1 {
  margin-bottom: 2rem;
  font-weight: lighter;
}

.docs h2 {
  margin-bottom: 1rem;
}

.docs section {
  margin-bottom: 3rem;
}
