.docs-content-wrapper {
  background-color: $gray-300;
}

.docs-content {
  font-size: 1.1rem;
  line-height: 2rem;
  max-width: 800px;

  h1, h2, h3, h4, p, ul, ol {
    margin-bottom: 2rem;
  }

  h1 {
    color: $yellow;
  }
}
