// Simplex 4.2.1
// Bootswatch

//
// Color system
//

$white:    #12141D !default;
$gray-100: #111E29 !default;
$gray-200: #122B3A !default;
$gray-300: #123748 !default;
$gray-400: #124155 !default;
$gray-500: #2E5B6D !default;
$gray-600: #4F7585 !default;
$gray-700: #7896A2 !default;
$gray-800: #A5BAC1 !default;
$gray-900: #C8D6DA !default;
$black:    #EFF5F5 !default;

$blue:    #0B94E0 !default;
$indigo:  #0FB5DB !default;
$purple:  #8923DC !default;
$pink:    #E85AD9 !default;
$red:     #EF2706 !default;
$orange:  #FF5A0C !default;
$yellow:  #D8F971 !default;
$green:   #1BF67F !default;
$teal:    #00CFFA !default;
$cyan:    #00FAF2 !default;

$primary:       $cyan !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $teal !default;
$warning:       $yellow !default;
$danger:        $orange !default;
$light:         $white !default;
$dark:          $black !default;

// Body

$body-bg:                   $black !default;

// Fonts

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              0.8125rem !default;

// Dropdowns

$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-y:                .9rem !default;
$nav-link-disabled-color:           $gray-400 !default;

$nav-tabs-border-color:             $gray-300 !default;

// Navbar

$navbar-dark-color:                 rgba($white,.75) !default;
$navbar-dark-hover-color:           $white !default;

// Pagination

$pagination-border-color:           $nav-tabs-border-color !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $primary !default;

$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-border-color:  $pagination-border-color !default;

// Jumbotron

$jumbotron-bg:                      $nav-tabs-border-color !default;

// Cards

$card-bg:                           $gray-100 !default;
$card-border-color:                 $gray-400 !default;

// Popovers

$popover-border-color:              $nav-tabs-border-color !default;

// Modals

$modal-content-bg:                  $gray-100 !default;

$modal-content-border-color:        $gray-400 !default;

$modal-header-border-color:         $gray-400 !default;

// Progress bars

$progress-bar-color:                $primary !default;

// List group

$list-group-border-color:           $nav-tabs-border-color !default;

$list-group-disabled-bg:            $nav-tabs-border-color !default;

// Breadcrumbs

$breadcrumb-bg:                     $white !default;

// Forms

$input-color: $dark;
$input-focus-border-color: $teal;
